body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: ffcdb2;
}

.img1 {
  width: 150px;
  border: 1px solid #cfd9de;
  border-radius: 20px;
}

.card {
  display: flex;
  margin: 0 auto;
  padding: 50px;
  width: 400px;
  text-align: center;
  justify-content: space-around;
  color: #2b2839;
  background: #ddebf8;
  border: 6px solid #d8cefe;
  font-family: "Times New Roman", Times, serif;
  margin-top: 200px;
}

.italic {
  font-style: italic;
  font-size: 18px;
}

.dotted {
  border: 1px solid rgb(172, 172, 174);
}
